<div class="jumbotron">
  <h1 class="display-8 text-center">About Me</h1>
  <hr class="my-4" />
  <p class="lead text-center">
    An award winning creative director Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Architecto sunt temporibus natus quo repellat, minima id
    omnis dolorem quas tempora aut earum quaerat amet blanditiis eaque
    praesentium asperiores numquam ad. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Iusto optio assumenda sapiente non vel voluptatibus quia
    necessitatibus minima architecto dolores repellendus nostrum eius, libero
    placeat. Saepe, porro fuga. Autem, magnam!
  </p>
</div>
